.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  height: 88vh;
  background: linear-gradient(to bottom, rgb(30, 30, 30) 0%, rgb(30, 30, 30) 50%, rgb(52, 52, 52) 50%, rgb(52, 52, 52) 100%);
}

.welcome-message {
  color: white;
  font-family: monospace;
  text-align: center;
  h2 {
    font-size: 48px;
  }
}

.profile {
  color: white;
  font-family: $font-kanit;
  p {
    font-size: 30px;
  }
}
.socials {
  padding-top: 16px;
  text-align: center;
  img {
    height: 64px;
    width: 64px;
  }
  a {
    text-decoration: none;
    padding: 0 16px;
  }
}
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .welcome-message {
    h2 {
      font-size: 32px;
    }
  }
  .profile {
    text-align: left;
    p {
      font-size: 16px;
    }
    .socials {
      img {
        height: 32px;
        width: 32px;
      }
      a {
        text-decoration: none;
        padding: 0 8px;
      }
    }
  }
}
