<h1>Sorry, work in progress!</h1>
<img src="https://raw.githubusercontent.com/Dog-Face-Development/dog-face-development.github.io/master/snoopy.jpg">
<h3>This is part 2 of my profile project!</h3>
<h3>It should be up and running in near future.</h3>
<h3>You can go back to the main page by clicking the <%= link_to "back to profile page", root_path %> link.</h3>
