
<div class="main">
  <div class="left-div">
    <div class="welcome-message">
      <h2>Hi, I'm Dziugas Bartkevicius.</h2>
      <h2>Junior web developer</h2>
      <h2>based in London.</h2>
    </div>
  </div>
  <div class="right-div">
    <div class="profile">
      <p>Lifelong tech geek at heart, recently embarked on a journey to start a career in web development.</p>
      <p>Obsessed with trying to simplify tasks and improve solutions to make life easier.</p>
      <p>Have a soft spot for beautiful and functional designs.</p>
      <p>Take a look at my projects down below.</p>
    </div>
  </div>
</div>
