<div class="welcome-page">
  <div class="welcome-message">
    <h2>Hi! My name is
     <span class="my-name">Dziugas Bartkevicius.</span></h2>
    <h2>I'm a <kbd>Junior</kbd> <kbd>web</kbd> <kbd>developer</kbd></h2>
    <h2>based in <strong>London</strong>.</h2>
  </div>
  <div class="profile">
    <p>Lifelong tech geek at heart, recently embarked on a journey to start a career in web development.
    Obsessed with trying to simplify tasks and improve solutions to make life easier.
    Have a soft spot for beautiful and functional designs.</p>
      <p>Take a look at my projects down below!</p>
  </div>
</div>
<div id="project-page">
  <div class="mycard">
    <div class="project-image">
      <%= image_tag "tracker.png" %>
      <div class="overlay">
        <div class="text">yoyoyo ma man</div>
      </div>
    </div>
    <div class="project-info">
      <section>
        <h3>Overview</h3>
        <p>many many wordsmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many word
        many many wordmany many wordmany many wordmany many wordmany many wordmany many word</p>
      </section>
      <section>
        <h3>Technologies</h3>
        <p>many many wordsmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many word
        many many wordmany many wordmany many wordmany many wordmany many wordmany many word</p>
      </section>
      <section>
        <h3>Links</h3>
        <p>many many wordsmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many word
        many many wordmany many wordmany many wordmany many wordmany many wordmany many word</p>
      </section>
    </div>
  </div>
  <div class="mycard">
    <div class="project-image">
      <%= image_tag "oui-chef.png" %>
      <div class="overlay">
        <div class="text">yoyoyo ma man</div>
      </div>
    </div>
    <div class="project-info">
      <section>
        <h3>Overview</h3>
        <p>many many wordsmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many word
        many many wordmany many wordmany many wordmany many wordmany many wordmany many word</p>
      </section>
      <section>
        <h3>Technologies</h3>
        <p>many many wordsmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many word
        many many wordmany many wordmany many wordmany many wordmany many wordmany many word</p>
      </section>
      <section>
        <h3>Links</h3>
        <p>many many wordsmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many wordmany many word
        many many wordmany many wordmany many wordmany many wordmany many wordmany many word</p>
      </section>
      <div class="tab-info">
      </div>
    </div>
  </div>
</div>
<div id="contact-me">
  <form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="4080b911-8d85-4f63-9557-14d1e3b56cd0">
    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <textarea name="message" required></textarea>
    <input type="hidden" name="redirect" value="https://web3forms.com/success">
    <button type="submit">Submit Form</button>
  </form>
</div>
