<div class="welcome-page">
  <div class="welcome-message">
    <h2>Hi! My name is
     <span class="my-name">Dziugas Bartkevicius.</span></h2>
    <h2>I'm a <kbd>Junior</kbd> <kbd>web</kbd> <kbd>developer</kbd></h2>
    <h2>based in <strong>London</strong>.</h2>
  </div>
  <div class="profile">
    <p>Lifelong tech geek at heart, recently embarked on a journey to start a career in web development.
    Obsessed with trying to simplify tasks and improve solutions to make life easier.
    Have a soft spot for beautiful and functional designs.</p>
      <p>Take a look at my projects down below!</p>
    <div class="arrow-down">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
</div>
<div class="project-page">
  <div class="mycard">
    <div class="project-image">
    <%= image_tag "tracker.png" %>
    </div>
    <div class="project-info">
      <div class="tabs">
        <li>Overview</li>
        <li>Technologies</li>
        <li>Links</li>
      </div>
      <div class="tab-info">
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="project-image">
      <%= image_tag "oui-chef.png" %>
    </div>
    <div class="project-info">
      <div class="tabs">
        <li>Overview</li>
        <li>Technologies</li>
        <li>Links</li>
      </div>
      <div class="tab-info">
      </div>
    </div>
  </div>
</div>
