<div class="welcome-page">
  <div class="welcome-message">
    <h2>Hi! My name is
     <span class="my-name">Dziugas Bartkevicius.</span></h2>
    <h2>I'm a <kbd>Junior</kbd> <kbd>web</kbd> <kbd>developer</kbd></h2>
    <h2>based in <strong>London</strong>.</h2>
  </div>
  <div class="profile">
    <p>Lifelong tech geek at heart, recently embarked on a journey to start a career in web development.
    Obsessed with trying to simplify tasks and improve solutions to make life easier.
    Have a soft spot for beautiful and functional designs.</p>
      <p>Take a look at my projects down below!</p>
    <div class="arrow-down">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
</div>
<div class="project-page">
  <div class="mycard">
    <div class="project-image">
      <%= image_tag "tracker.png" %>
      <div class="overlay">
        <div class="text">yoyoyo ma man</div>
      </div>
    </div>
    <div class="project-info">
      <div class="tabs">
        <li>Overview</li>
        <li>Technologies</li>
        <li>Links</li>
      </div>
      <div class="tab-info">
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="project-image">
      <%= image_tag "oui-chef.png" %>
    </div>
    <div class="project-info">
      <div class="tabs">
        <li>Overview</li>
        <li>Technologies</li>
        <li>Links</li>
      </div>
      <div class="tab-info">
      </div>
    </div>
  </div>
</div>
<div class="contact-me">
  <%# <div class="flex items-center min-h-screen bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto">
      <div class="max-w-md mx-auto my-10 bg-white p-5 rounded-md shadow-sm">
        <div class="text-center">
          <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">
            Contact Us
          </h1>
          <p class="text-gray-400 dark:text-gray-400">
            Fill up the form below to send us a message.
          </p>
        </div>
        <div class="m-7">
          <form action="https://api.web3forms.com/submit" method="POST" id="form">
            <input type="hidden" name="access_key" value="4080b911-8d85-4f63-9557-14d1e3b56cd0" />
            <input type="hidden" name="subject" value="New Submission from Web3Forms" />
            <input type="checkbox" name="botcheck" id="" style="display: none;" />

            <div class="mb-6">
              <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Full Name</label>
              <input type="text" name="name" id="name" placeholder="John Doe" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
              <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Email Address</label>
              <input type="email" name="email" id="email" placeholder="you@company.com" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
              <label for="phone" class="text-sm text-gray-600 dark:text-gray-400">Phone Number</label>
              <input type="text" name="phone" id="phone" placeholder="+1 (555) 1234-567" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
              <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Your Message</label>

              <textarea rows="5" name="message" id="message" placeholder="Your Message" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
            </div>
            <div class="mb-6">
              <button type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">
                Send Message
              </button>
            </div>
            <p class="text-base text-center text-gray-400" id="result"></p>
          </form>
        </div>
      </div>
    </div>
  </div> %>
  <form action="https://api.web3forms.com/submit" method="POST">

    <input type="hidden" name="access_key" value="4080b911-8d85-4f63-9557-14d1e3b56cd0">

    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <textarea name="message" required></textarea>
    <input type="hidden" name="redirect" value="https://web3forms.com/success">

    <button type="submit">Submit Form</button>

</form>
</div>
