.mycard {
  display: flex;
  flex-direction: row;
  height: 35%;
  width: 90%;
  border: solid 2px white;
  border-radius: 5px;
  .project-image {
    height: 100%;
    width: 35%;
    border-right: solid 2px white;
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }
}
.project-info {
  height: 100%;
  width: 65%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 24px;
    li {
      text-align: center;
      align-items: stretch;
      justify-content: center;
      list-style: none;
      flex-grow: 1;
      &:hover {
        background-size: 100%;
        background-color: white;
        color: black;
      }
    }
  }
}
